<div class="boundary5">
    <p class="text1 post">게시글 수정</p>

    <% @currentgwamokid = @currentgwamokid %>
    <%= render 'form', :currentgwamokid=> @currentgwamokid %>
    
    <div id="postsubmit">
        <%= link_to '돌아가기', posts_path(:currentgwamokid=> @currentgwamokid) %>
    </div>
</div>

    
    
    





