@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*공통스타일*/

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif !important;
}

div {
  display: block;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

a:visited, a:link, a:hover {
  text-decoration: none !important;
  color: black !important;
}

ul, ol, li {
  list-style-type: none;
  display: list-item;
}

.container {
    width: 960px;
    margin: 0 auto;
    background-color: white;
}

/*로고 이미지 */
.logo > img {
  margin: 11px 0;
  width: 40px;
  height: auto;
} 

.navbarapp {
    line-height: 40px;
}

/* 폰트 종류 */
 
.text1 {
  font-size: 20px;
  font-weight: bold;
}  
.text2 {
    font-size: 15px;
    font-weight: bold;
}

#maintitle {
    font-size:30px;
       float: right;
       font-weight: bold;
    
}
/*devise shared link 스타일*/

.links {
    width: 325px;
    text-align: center;
    margin:0 auto;
}

#devise-link {
    color: gray;
    padding: 5px 5px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px 4px 10px;
    cursor: pointer;  
}

#devise-link a{
  font-size: 10px;
  line-height: 10px;
  cursor: pointer;
  color: gray !important;
  text-align: center;
}

/*네브바*/

nav {
  position: relative;
  height: 80px;
  background-color: #fff;
  top: 0;
  margin-bottom: 0px;
}

.wrap {
    padding-left: 10px;
    float: left;
}

.navlogo {
    width: 25px;
    height: auto;
}
.account {
    float: right;
    height: 80px;
    margin-left: 10px;
}

.account > li {
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 0 10px;
}
.logout {
    margin-right: 20px;
}

.menu > li {
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 14.5px;
    text-align: center;
}

.menumargin {
    padding-left: 40px;
}

.active {
    text-decoration: underline;
}

.break {
    margin: 0 14px;
}

/*홈페이지 index*/


.maincontainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    border-right: 2px solid #9b9b9b;
}

.maincontainer .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 40px 15px;
    width: 300px;
}

.sidebar .logo {
    display: block;
    margin-bottom: 40px;
    text-align: center;
}

.login {
    margin-top: 30px;
    background-image: url("line2.png"); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.confirmation, .find {
    margin-top: 30px;
    background-image: url("line1.png"); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.crimson {
    width: 100%;
    padding-left: 300px;
    padding-top: 30px;
    height: 450px;
    background-color: #9b042c;
}

.board {
    margin: 0px auto;
    width: 500px;
    height: 300px;
    background-image: url(/img/1.jpg);
    background-size: cover;
    border: 4px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-image: url(/img/1.jpg);}
    33%  {background-image: url(/img/2.jpg);}
    100%  {background-image: url(/img/3.jpg);}
}

.crimson h2 {
    font-size: 24px;
    color: white;
    line-height: 24px;
    text-align: center;
    padding-bottom: 70px;
}

.crimson h2 > strong {
    font-size: 30px;
    line-height: 40px;
}

.description {
    width: 100%;
    background-color: white;
    padding-left: 300px;
    bottom: 0;
    
}

.description > p{
    text-align: center;
    padding: 0px 50px 0px 50px;
    height: auto;
    font-size: 14px;
    line-height: 16px;
    color: #4c4c4c;
}


/*footer*/


.footer {
    bottom: 0;
    width: 100%;
    height: 14px;
    background-color:white;
    border-top: 4px solid #8a8a8a;
}

.footer > p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-left: 300px;
}


/*login, signin 등 보드판*/

.user_whiteboard {
    margin: auto;
    margin-top: 60px;
    width: 500px;
    padding: 10px 60px 20px 60px;
}

.subtitle {
    height: 75px;
}
.subtitle .text1 {
    float: right;
    padding-top: 24px;
}
.subtitle .logo {
    float: right;
    margin-left: 10px;
}

.boundary1 {
    background-image: url("line6.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 30px 50px 30px;   
}

.boundary2 {
    background-image: url("line4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 30px 60px 30px;   
}

.boundary3 {
    background-image: url("line7.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 25px 30px 50px 30px;   
}

.boundary4 {
    background-image: url("line5.png");
    background-repeat: no-repeat;
    background-size:100%;
    padding: 30px 30px 60px 30px;   
}

.boundary5 {
    background-image: url("line8.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    margin: 0 auto;
    padding: 60px 150px 90px 150px;  
}

/*form 디자인*/

#user_email, #user_password, #user_password_confirmation, #user_name {
    border: 0;
    width: 302px;
    height: 30px;
    line-height: 14px;
    color: #292929;
    font-size: 12px;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
    border-bottom: 1px solid #9b9b9b;
    margin: 5px 0px 2px 10px ;
}

#submit {
    margin: 5px 8px 0px 8px;
    background-color: #9b042c;
    padding: 5px 10px;
}

#submit > .btn {
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color:transparent;
    border: none;
    width: 100%;
}

.info {
    margin-top: 5px;
    color: #292929;
    font-size: 11px;
    padding-left: 3px;
}

.boolean {
    color: #292929;
    font-size: 11px;
    line-height: 40px;
    padding-left: 3px;
}


/*강의검색페이지*/

.container > .boundary2 {
    background-size: auto; 
    padding-left: 50px;
}

.container > .boundary4 {
    background-size: auto; 
    padding-left: 50px;
}

.search-box1 {
    float: left;
    width: 400px;
}

.t {
    margin: 0;
} 

.search1 {
    margin-bottom: 25px;
    margin-top: 10px;
}

.search2 {
    margin-bottom: 2px;
}

.search-gwamok {
    margin-bottom: 10px;
}

.search-gwamok input:nth-child(4), .search-gyosoo input:nth-child(4) {
    background-color: #9b042c;
    height: 23.33px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.result1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.result2 {
    font-size: 11px;
    margin-bottom: 10px;
}

.search-box2 {
    margin-left: 480px;
    padding-right: 40px;
    width: 400px;
    height: 400px;
}

.searchtable, .posttable, #crawlss {
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.searchtable thead, .posttable thead, #crawlss thead{
    background-color: #9b042c;
    color: white;
    padding-left: 2px;
}

.searchtable th, .posttable th, #crawlss th {
    height: 20px;
    text-align: center;
}

.searchtable td, .posttable td, crawlss td {
    font-size: 12px;
    height: 20px;
}

.gyosoo {
    text-align: center;
}

.post {
    margin: 0;
    margin-bottom: 15px;
}

#new_post .field {
    width: 400px;
}
#new_post label {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 30px;
}

.fieldspace {
    margin-bottom: 15px;
}

#post_gwamokid, #post_username { 
    width: 100px;
    border: none;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    padding: 0;
    margin-left: 5px;
}

#post_title, #post_category {
    width: 650px;
    height: 30px;
}

#post_category {
    padding-left: 5px;
}
#post_body {
    width: 650px;
    height: 150px;
    resize: none;
    margin-bottom: 10px;
}


#postsubmit {
    margin: 5px 8px 0px 8px;
    background-color: #9b042c;
    display: inline-block;
    width: 100px;
    padding: 5px 0px;
    text-align: center;
}

#postsubmit > input, #postsubmit > a {
    height: 20px;
    line-height: 20px;
    color: #fff !important;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    background-color:transparent ;
    border: none;
    width: 100%;
}

#postsubmit:first-child {
    float:left;
}

#postsubmit:last-child {
    float:right;
}

/* 과목별 intersection */

.hidden_text {
    visibility: hidden;
}

.menu_images {
    margin: 0 180px;
    margin-bottom: 100px;
}


/*게시판 index*/


.postbox {
    margin: 0 200px;
}

.postbox .text1 {
    margin-bottom: 0px;
}
.post-btn {
    width: 30px;
    background-color: #cecccc;
    text-align: center;
    padding: 0;
    margin: 0 1px;
}

.post-btn > a {
    color: white !important;
}

.post-t {
    width: 90px;
}

#wannawrite {
    float: right;
    margin-top: 10px;
    margin-right: 1px;
    display: inline-block;
    width: 95px;
    padding: 5px 0px;
    text-align: center;
}

#wannawrite a {
    height: 20px;
    line-height: 20px;
    color: gray !important;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color:transparent ;
    border-bottom: 1px solid gray;
    width: 100%;
}

/*result page*/

.result-box {
    margin: 0;
}

.crawlss-hidden {
    visibility: hidden;
}

.crawlss-btn > input {
    color: white !important;
    background-color: #cecccc;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 2px;
    width: 100%;
}

/*post 보고 댓글다는 곳*/

.ps-container {
    width: 960px;
    margin: 0 auto;
}

.post-show, .reply-show {
    background-color: #f0eeee;
    margin: 0 auto;
    padding: 0px 10px;
    height: 400px;
}

.post-show {
    width: 480px;
    float: left;
    margin-left: 10px;
}

.post-show > .text1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ps-info {
    float: right;
}

.ps-username, .ps-category {
    display: inline-block;
    color: #9f9f9f;
    margin: 0;
    padding: 0 10px;
    line-height: 13px;
    font-size: 13px;
}

.ps-category {
    margin-left: 5px;
}

.ps-break {
    margin: 0 5px;
}
.ps-body {
    margin-top: 50px;
}

.ps-body p:nth-child(2) {
    font-size: 13px;
}

.ps-attachment {
    margin-top: 40px;
}
.attachmentinfo {
    font-size: 13px;
}


.reply-show {
   width: 300px;
   margin-left: 510px;
}

.reply-show .text1{
    margin-top: 10px;
    padding-top: 10px;
}

.ps-btn {
    float: right;
    margin-top: 115px;
}

#wannawrite1, #wannawrite2 {
    margin-top: 10px;
    margin-right: 1px;
    display: inline-block;
    width: 60px;
    padding: 5px 0px;
    text-align: center;
}

#wannawrite1 a, #wannawrite2 a {
    height: 20px;
    line-height: 20px;
    color: gray !important;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color:transparent ;
    border-bottom: 1px solid gray;
    width: 100%;
}

#reply_reply_user, #reply_body {
    height: auto;
    margin-top: 5px;
    width: 100%;
} 

.submit-btn {
    margin-top: 10px;
    margin-right: 36px;
    display: inline-block;
    width: 20px;
    padding: 5px 0px;
    text-align: center;
    float: right;
}
.submit-btn > input {
    border: none;
    height: 20px;
    line-height: 20px;
    color: gray !important;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color:transparent ;
    border-bottom: 1px solid gray;
    padding: 0;
}

/* search page 시간표 */
.siganpyo {
    width: 80%;
    height: 150%;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;
}

table.siganpyo th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.siganpyo td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}