@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/*공통스타일*/

* {
  box-sizing: border-box;
  font-family: 'Jeju Gothic', sans-serif !important;
}

div {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

a:visited, a:link, a:hover {
  text-decoration: none !important;
  color: black !important;
}

ul, ol, li {
  list-style-type: none;
  display: list-item;
}

/*로고 이미지 */
.logo > img {
  margin: 11px 0;
  width: 50px;
  height: 58px;
} 

/* 폰트 종류 */
 
.text1 {
  font-size: 20px;
  font-weight: bold;
}

/*네브바*/


nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff;
  top: 0;
}

.wrap {
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
  height: 100%;
}

.title {
  float: left;
}

.title .logo {
  text-align: center;
}

.account {
  padding-top: 10px;
  float: right;
}

.account > li {
  float: left;
}

.account a {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.usernickname {
    color: #4c4c4c;
}

.account img {
    border: 1px solid #d6d6d6;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    margin: 25px 5px 20px 10px;
        
}

.logout {
    margin-left: 20px;
    background-image: url(/img/markeroutline1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 15px;
    padding: 0 20px;
}

.menu {
    margin-top: 0;
    margin-left: 0;
    width: 550px;
    height: 100%;
    text-align: center;
    padding-top: 0px;
}

.menu > li {
    display: inline-block;
    margin: 0 10px;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    padding: 10px 10px;
}

.active {
    background-color: #ffe95c;
    border-bottom: 80px solid #ffe95c;
}



/*강의검색페이지*/


.search {
    margin: 130px 5% 0 5%;
    border: 3px solid black;
    border-radius: 8px;
    background-color: White;
    padding: 20px 20px;
}


/*홈페이지 index*/


.maincontainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    border-right: 2px solid #9b9b9b;
}

.maincontainer .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 40px 15px;
    width: 300px;
}

.sidebar .logo {
    display: block;
    margin-bottom: 40px;
    text-align: center;
}

.login {
    margin-top: 30px;
    background-image: url("line2.png"); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.confirmation, .find {
    margin-top: 30px;
    background-image: url("line1.png"); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.crimson {
    width: 100%;
    padding-left: 300px;
    padding-top: 30px;
    height: 450px;
    background-color: #9b042c;
}

.board {
    margin: 0px auto;
    width: 500px;
    height: 300px;
    background-image: url(/img/1.jpg);
    background-size: cover;
    border: 4px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-image: url(/img/1.jpg);}
    33%  {background-image: url(/img/2.jpg);}
    100%  {background-image: url(/img/3.jpg);}
}

.crimson h2 {
    font-size: 24px;
    color: white;
    line-height: 24px;
    text-align: center;
    padding-bottom: 70px;
}

.crimson h2 > strong {
    font-size: 30px;
    line-height: 40px;
}

.description {
    width: 100%;
    background-color: white;
    padding-left: 300px;
    bottom: 0;
    
}

.description p {
    text-align: center;
    padding: 0px 50px 0px 50px;
    height: auto;
    font-size: 14px;
    line-height: 16px;
    color: #4c4c4c;
}


/*footer*/


.footer {
    bottom: 0;
    width: 100%;
    height: 14px;
    background-color:white;
    border-top: 4px solid #8a8a8a;
}

.footer > p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-left: 300px;
}